@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-text { @apply text-lg font-bold; }
  .card-title { @apply text-base font-semibold; }
  .body-link { @apply text-sm font-normal; }
  .button-text { @apply text-sm font-medium; }
}
